<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935760698718-fpb5od1iejj0afi2vr1c6m5c5rkaarh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935760698718-fpb5od1iejj0afi2vr1c6m5c5rkaarh5</string>
	<key>API_KEY</key>
	<string>AIzaSyCINsgm1uUVS_v3oX3-xnnOcPoTplAElo0</string>
	<key>GCM_SENDER_ID</key>
	<string>935760698718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappMessenger</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-637be</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-637be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935760698718:ios:34af53ae44eec7a68bc3cf</string>
</dict>
</plist>